.DS_Store
node_modules
yarn.lock
dev-project-react
dev-project-vue3
test
package-lock.json
/coverage
.coveralls.yml
.eslintignore
babel.config.json
jest.config.js
pure_mode.md
README_zhcn.md
rollup.config.js
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
